<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Nikki - Blog</title>
    <link rel="icon" href="../public/img/core-img/favicon.ico" />
    <link rel="stylesheet" href="/public/css/tagsinput.min.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <header class="header-area" id="header"></header>
    <!-- ##### Breadcrumb  Start ##### -->
    <div class="breadcrumb-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Add post
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### Breadcrumb  End ##### -->
    <section class=" section-padding-100-0">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="contact-content mb-100">
              <h4>Add Post</h4>
              <div class="contact-form-area">
    <!-- ##### Form add post ##### -->
                <form
                  role="form"
                  id="form"
                  action="/add-post"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="author-post"
                      name="authorPost"
                      placeholder="Author"
                      required
                    />
                    <p class="title text-danfer d-none">Invalid value</p>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="title-post"
                      name="titlePost"
                      placeholder="Title"
                      required
                    />
                  </div>
                  <div class="input_file">
                    <div class="form-group">
                      <label class="label">
                        <i class="material-icons">attach_file</i>
                        <input
                          class=""
                          type="file"
                          id="input-file"
                          name="imgPost"
                          class="form-control"
                          value="../public/img/blog-img/no-image.jpg"
                          required
                        />
                      </label>
                      <p class="title">Add img</p>
                      <p class="title text-danger d-none" id="hint_err"></p>
                      <div
                        style="
                          max-width: 200px;
                          max-height: 200px;
                          overflow: hidden;">
                        <img
                          id="img-post"
                          src="../public/img/blog-img/no-image.jpg"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control"
                      id="date-post"
                      name="datePost"
                      placeholder="Date"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      name="textPost"
                      id="text-post"
                      cols="30"
                      rows="10"
                      placeholder="Text"
                      required
                    ></textarea>
                  </div>
                  <div class="form-group form_input-tags">
                    <p class="title text-secondary">
                      Write the category and press enter
                    </p>
                    <p class="title text-secondary">
                      Maximum number of items 3
                    </p>
                    <input
                      id="input-tags"
                      type="text"
                      name="tagsPost"
                      value="all"
                      data-role="tagsinput"
                    />
                  </div>
                  <div class="form-group">
                    <button id="btn_send" class="btn btn-send nikki-btn mt-15">
                      Send
                    </button>
                    <p class="title text-success d-none" id="hint_succsses"></p>
                  </div>
                </form>
    <!-- ##### Form add post End ##### -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer-area" id="footer"></footer>
    <script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap/bootstrap.min.js"></script>
    <script src="/public/js/bootstrap//tagsinput.min.js"></script>
    <script src="/public/js/validImgPost.js"></script>
    <script src="/public/js/fetchPost.js"></script>
    <script src="/public/js/plugins/plugins.js"></script>
    <script src="/public/js/staticHtml.js"></script>
    <script src="/templates/add-post/add-post.js"></script>
  </body>
</html>
