<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="" name="description"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <title>Nikki - Blog</title>
    <link href="/public/img/core-img/favicon.ico" rel="icon"/>
    <link href="/public/css/style.css" rel="stylesheet"/>
</head>

<body>
<header class="header-area" id="header">
</header>
<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li aria-current="page" class="breadcrumb-item active">
                            About
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### about-me ##### -->
<div class="about-us-area section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-content">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>About Me</h2>
                        <div class="about-thumbnail">
                            <img alt="" src="/public/img/blog-img/about-me.jpg"/>
                        </div>
                        <p>Welcome to My Blog</p>
                    </div>
                    <div>
                        <p>Hello! My name`s Ivan. I`m a front-end developer.</p>
                        <p>From 2016 May to 2017 August worked in a small company as html-coder. My responsibilities
                            included:
                        </p>
                        <ul>
                            <li>
                                - create adaptive, modern and cross-browser web pages using
                                HTML, CSS, Bootstrap, Jquery, JavaScript for CMS YII
                            </li>
                            <li>
                                -connection, using libraries and plugins. Their revision for
                                the site design
                            </li>
                            <li>
                                -bug fixes and maintenance of current projects (frontend).
                            </li>
                        </ul>
                        <p>
                            In 2023 I completed one-year internship at IxSystems company where I worked on the popular
                            open source project TrueNAS. My responsibilities included creating new components, finding
                            and fixing bugs, code refactoring, writing unit tests, and more. Development stack: Angular,
                            Angular Material, RxJS, NgRx, Jest, Protractor.
                        </p>
                        <p>
                            This blog was developed for my portfolio. It was written using
                            technologies such as Node JS, Express, Mongoose, MongoDB.
                            While writing this site, I learned how to create a simple
                            server in nodejs, work with REST API, MongoBD and Mongoose,
                            send and receive requests using Fetch and FormData
                        </p>
                        <p>
                            My priority goal in life is development and career growth.
                            Every day I increase my knowledge of the front-end and devote
                            almost all my free time to it.
                        </p>
                        <p>You can contact me by following these links.</p>
                        <ul>
                            <li><a href="https://github.com/Raz-Dva">GitHub</a></li>
                            <li><a href="www.linkedin.com/in/ivan-honcharov-7a39371a1">Linkedin</a></li>
                            <li> <strong>my.poshta.goncharov@gmail.com</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### about-me ##### -->
<footer class="footer-area" id="footer">
</footer>
<script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
<script src="/public/js/bootstrap/popper.min.js"></script>
<script src="/public/js/bootstrap/bootstrap.min.js"></script>
<script src="/public/js/plugins/plugins.js"></script>
<script src="/public/js/staticHtml.js"></script>
</body>
</html>
