<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- Footer Social Info -->
      <div class="footer-social-info d-flex align-items-center justify-content-center">
        <a href="https://www.facebook.com/ivan.goncharov.180" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="mailto:my.poshta.goncharov@gmail.com" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://github.com/Raz-Dva" target="_blank">
          <i class="fa fa-git"></i>
        </a>
        <a href="https://www.linkedin.com/in/ivan-honcharov-7a39371a1/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="copywrite-text">
        <p>
          Copyright &copy;
          <script>
              document.write(new Date().getFullYear());
            </script>
          All rights reserved
        </p>
      </div>
    </div>
  </div>
</div>
