<div class="wrapper-alert"></div>
<div class="nikki-main-menu">
  <div class="classy-nav-container breakpoint-off">
    <div class="container-fluid">
      <nav class="classy-navbar justify-content-between" id="nikkiNav">
        <a href="/" class="nav-brand d-flex justify-content-center">
          <img src="/public/img/core-img/logo-blog.png" alt="">
        </a>
        <div class="classy-navbar-toggler">
          <span class="navbarToggler">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div class="classy-menu">
          <div class="classycloseIcon">
            <div class="cross-wrap">
              <span class="top"></span>
              <span class="bottom"></span>
            </div>
          </div>
          <div class="classynav">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/add-post">Add new post</a>
              </li>
              <li>
                <a href="/edit-posts">Edit posts</a>
              </li>
              <li>
                <a href="/about.html">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
