<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Nikki - Blog</title>
    <link rel="icon" href="../public/img/core-img/favicon.ico" />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area" id="header">
      <!-- Navbar Area -->
    </header>
    <div class="breadcrumb-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Categories
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row row-contents justify-content-center">
        <div class="col-12">
          <div class="section-heading">
            <h2 class="text-uppercase">{categoria}</h2>
          </div>
        </div>

        <div class="col-12 col-lg-8">
          <div class="post-sidebar-area">
            <!-- ##### Single Widget Area ##### -->
            <div class="single-widget-area mb-30">
              <!-- Title -->
              <div class="widget-title">
                <h6>Posts</h6>
              </div>
              <!-- Single Latest Posts -->
              <div id="block-posts">{list_posts}</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-9 col-md-6 col-lg-4">
          <div class="post-sidebar-area">
            <!-- ##### Single Widget Area ##### -->
            <div class="single-widget-area mb-30">
              <div class="widget-title">
                <h6>
                  <a href="/about.html">About Me</a>
                </h6>
              </div>
              <div class="about-thumbnail">
                <a href="/about.html"
                  ><img src="../public/img/blog-img/about-me.jpg" alt=""
                /></a>
              </div>
              <div class="widget-content text-center">
                <img src="../public/img/core-img/signature.png" alt="" />
                <p>Hello! My name`s Ivan.</p>
                <p>
                  I`m a junior front-end. This blog was developed for my
                  portfolio. It was written using technologies such as Node JS,
                  Express, Mongoose, MongoDB. While writing this site ...
                </p>
              </div>
            </div>

            <!-- ##### Single Widget Area ##### -->
            <div class="single-widget-area mb-30">
              <div class="widget-title">
                <h6>My Contacts</h6>
              </div>
              <div class="widget-social-info text-center">
                <a href="https://www.facebook.com/ivan.goncharov.180"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="mailto:my.poshta.goncharov@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
                <a href="https://github.com/Raz-Dva"
                  ><i class="fa fa-git"></i
                ></a>
                <a href="https://www.linkedin.com/in/ivan-honcharov-7a39371a1/"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>

            <!-- ##### Single Widget Area ##### -->
            <div class="single-widget-area mb-30" id="main-posts">
              <!-- Title -->
            </div>

            <!-- ##### Single Widget Area ##### -->
            <div class="single-widget-area mb-30">
              <!-- Title -->
              <div class="widget-title">
                <h6>popular tags</h6>
              </div>
              <!-- Tags -->
              <ol class="popular-tags d-flex flex-wrap" id="block-tags"></ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer-area" id="footer"></footer>
    <!-- jQuery-2.2.4 js -->
    <script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/public/js/bootstrap/bootstrap.min.js"></script>
    <script src="/public/js/formatDate.js"></script>
    <script src="/public/js/BufferToBase64.js"></script>
    <script src="/public/js/renderHtml.js"></script>
    <script src="/public/js/plugins/plugins.js"></script>
    <script src="/public/js/staticHtml.js"></script>
    <script src="/templates/categories/categories.js"></script>
  </body>
</html>
