<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Nikki - Blog</title>
    <link rel="icon" href="../public/img/core-img/favicon.ico" />
    <link rel="stylesheet" href="/public/css/tagsinput.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <header class="header-area" id="header"></header>
    <div class="breadcrumb-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fa fa-home"></i>Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Update-post
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <section class="contact-area section-padding-100-0">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="contact-content mb-100">
              <h4>Update Post</h4>
              <!--  Form Area -->
              <div class="contact-form-area">
                <div class="post-line">Post id: <span id="post-id">{post_id}</span></div>
                <form
                  action="/update-post/{id}"
                  method="post"
                  enctype="multipart/form-data"
                  id="form"
                >
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="author-post"
                      name="authorPost"
                      placeholder="Author"
                      value="{post_author}"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="title-post"
                      name="titlePost"
                      placeholder="Title"
                      value="{post_title}"
                      required
                    />
                  </div>
                  <div class="input_file">
                    <div class="form-group">
                      <label class="label">
                        <i class="material-icons">attach_file</i>
                        <input
                          type="file"
                          id="input-file"
                          name="imgPost"
                        />
                      </label>
                      <input type="text" name="oldImg" hidden value="{old_path_img}">
                      <p class="title text-danger d-none" id="hint_err"></p>
                      <div  style="overflow:hidden; width: 200px; height: 200px; position: relative" class="">
                        <img
                          id="img-post"
                          src="{post_img}"
                        />
                        <div id="loader"></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control"
                      id="date-post"
                      name="datePost"
                      placeholder="Date"
                      value="{post_date}"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      name="textPost"
                      id="text-post"
                      cols="30"
                      rows="10"
                      required="required">{post_text}</textarea>
                  </div>
                  <div class="form-group form_input-tags">
                    <p class="title text-secondary">
                      Write the category and press enter
                    </p>
                    <p class="title text-secondary">
                      Maximum number of items 3
                    </p>
                    <input
                      id="input-tags"
                      type="text"
                      name="tagsPost"
                      value="{post_tags}"
                      data-role="tagsinput"/>
                  </div>
                </form>
                <button id="btn_send" class="btn btn-send nikki-btn mt-15">
                  Send
                </button>
                <p class="title text-success d-none" id="hint_successes"></p>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer-area" id="footer"></footer>
    <script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap/bootstrap.min.js"></script>
    <script src="/public/js/bootstrap/tagsinput.js"></script>
    <script src="/public/js/plugins/plugins.js"></script>
    <script src="/public/js/staticHtml.js"></script>
    <script type="module" src="/templates/update-post/update-post.js"></script>
  </body>
</html>
