<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Nikki - Blog</title>
    <link rel="icon" href="../public/img/core-img/favicon.ico" />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <header class="header-area"  id="header">
    </header>
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  About
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
    <!-- ##### about-me ##### -->
    <div class="about-us-area section-padding-0-100">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="about-content">
              <!-- Section Heading -->
              <div class="section-heading text-center">
                <h2>About Me</h2>
                <p>Welcome to My Blog</p>
              </div>
              <img
                src="../public/img/blog-img/IMG_20190425_211036_699.jpg"
                alt=""
              />
              <div>
                <p>Hello! My name`s Ivan. I`m a junior front-end.</p>
                <p>
                  In 2010 I successfully graduated from the Kharkiv Air Force
                  University with a specialist degree in ground handling of
                  airports and aircraft. 2016.03 I completed the training course
                  html5 css3 bootstrap3 Juqey. From 2016 May to 2017 August
                  worked in a small company as html-coder. My responsibilities
                  included:
                </p>
                <ul>
                <li>
                  - create adaptive, modern and cross-browser web pages using
                  HTML, CSS, Bootstrap, Jquery, JavaScript for CMS YII
                </li>
                <li>
                  -connection, using libraries and plugins. Their revision for
                  the site design
                </li>
                <li>
                  -bug fixes and maintenance of current projects (frontend).
                </li>
              </ul>
                <p>
                  From August 2017 to 2019, I almost did not do front-end
                  development due to the move to another country and the birth
                  of my son. For the past year, I've been learning angular
                  node.js ES6 typescript.In practice, I use:
                </p>
                <ul>
                  <li>Flex box</li>
                  <li>CSS Grid</li>
                  <li>Bootsrap 3,4</li>
                  <li>Ajax, Fetch</li>
                  <li>Jquery</li>
                  <li>npm</li>
                  <li>Webpack</li>
                  <li>JavaScript</li>
                  <li>Angular 6</li>
                  <li>TypeScript</li>
                  <li>ES6</li>
                  <li>Rest Api</li>
                  <li>Node JS</li>
                  <li>MongoBD, Mongoose</li>
                  <li>Express</li>
                  <li>Git</li>
                  <li>Visual studio code, Sublime text</li>
                  <li>Photoshop, Inscape</li>
                  
                </ul>
                <p>
                  This blog was developed for my portfolio. It was written using
                  technologies such as Node JS, Express, Mongoose, MongoDB.
                  While writing this site, I learned how to create a simple
                  server in nodejs, work with REST API, MongoBD and Mongoose,
                  send and receive requests using Fetch and FormData
                </p>
                <p>
                  My priority goal in life is development and career growth.
                  Every day I increase my knowledge of the front-end and devote
                  almost all my free time to it. I strive to change my life and
                  in the future, I want to become senior or team lead.
                </p>
                <p>
                  I am looking for a company in which I could get a real
                  opportunity to work in a team, on real projects, improving my
                  skills and abilities in a web developer, thereby help the
                  company develop. My qualities are hardworking and tenacious I
                  will be happy to take part in practical training and
                  internships when creating a project.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### about-me ##### -->
    <footer class="footer-area" id="footer">      
    </footer>
    <script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap/popper.min.js"></script>
    <script src="/public/js/bootstrap/bootstrap.min.js"></script>
    <script src="/public/js/plugins/plugins.js"></script>
    <script src="/public/js/staticHtml.js"></script>
  </body>
</html>
