<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Nikki - Blog </title>
    <link rel="icon" href="../public/img/core-img/favicon.ico" />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <header class="header-area" id="header"></header>
    <!-- ##### breadcrumb Start ##### -->  
    <div class="breadcrumb-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### breadcrumb End ##### -->  
    <section class="blog-content-area section-padding-0-100">
      <div class="container">
        <div class="row justify-content-center">
          <!-- Blog Posts Area -->
          <div class="col-12">
            <!-- Post Details Area -->
            <div class="single-post-details-area">
              <div class="post-content">
                <div class="text-center mb-50">
                  <p class="post-date">{date}/{tags}</p>
                  <h2 class="post-title">{title}</h2>
                  <div class="post-meta">
                    <p href="#"><span>by</span> {author}</p>
                  </div>
                </div>
                <div class="post-thumbnail mb-50 text-center">
                  <img src="{image}" alt="" />
                </div>
                <div class="post-text">
                  <p style="white-space: pre-line;">{post_text}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer-area" id="footer">
    </footer>
    <script src="/public/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap/bootstrap.min.js"></script>
    <script src="/public/js/plugins/plugins.js"></script>   
    <script src="/public/js/staticHtml.js"></script>
  </body>
</html>
